{% extends 'base.html' %} {% block header %}
<h1>{% block title %} Actividades psicológicas {% endblock %}</h1>
{% endblock %} {% block content %}
<div class="centrar">
  <section class="Contenedor">
    <div class="Columna refran">
      <p>Puzzle refranes</p>
    </div>

    <div class="Columna oveja">
      <p>Oveja y pareja</p>
    </div>

    <div class="Columna quien">
      <p>¿Quién es quien?</p>
    </div>
  </section>
</div>
<div class="centrar">
  <section class="Contenedor">
    <div class="Columna artista">
      <p>Cancion Artista</p>
    </div>

    <div class="Columna palabra">
      <p>Palabras encadenadas</p>
    </div>
  </section>
</div>
<div class="centrar">
  <a
    class="action"
    href="{{ url_for('patrones.interfaces', pagina='interfaces') }}"
    >Actividades</a
  >
</div>
{% endblock %}
