{% extends 'base.html' %} 
{% block header %}
<div class="box centrar">
  {% if g.user %}
  <a class="action boton" href="{{ url_for('patrones.create') }}">Nuevo</a>
  {% endif %}
</div>
{% endblock %} 

{% block content %}

<div class="container">
  <div class="boxline">
    <ul>
      <div>
        {% for recordatorio in recordatorios %}
        <li class="pedido">
          <div class="Columna inicio centrarcontenido">
            <!-- Caja de Recordatorios -->
            <h2>
              Recordatorios
              {% if recordatorio['completed'] == 1%}
              <strike>{{ recordatorio['description'] }}</strike>
              {%else%}{{ recordatorio['description'] }} {%endif%}
            </h2>

            <div class="about centrar">
              {{ recordatorio['created_at'].strftime('%H:%M %Y-%m-%d') }}
            </div>
            <div class="centrar varios">
              <a
              class="action boton"
              href="{{ url_for('patrones.update', id=recordatorio['id']) }}"
              >Editar</a
          >
            <a
              class="action boton"
              href="{{ url_for('patrones.complete', id=recordatorio['id']) }}"
              >Completar</a
            >

            </div>
        
          </div>
        </li>
        {% if not loop.last %}
        <hr />
        {% endif %} {% endfor %}
      </div>
    </ul>
  </div>
  <div class="boxline">
    <ul>
      <div>
        {% for recordatorio in recordatorios %}
        <li class="pedido">
          <div class="Columna inicio centrarcontenido">
            <!-- Caja de Medicamentos -->
            <h2>
              Medicamentos
              {% if recordatorio['completed'] == 1%}
              <strike>{{ recordatorio['description'] }}</strike>
              {%else%}{{ recordatorio['description'] }} {%endif%}
            </h2>

            <div class="about centrar">
              {{ recordatorio['created_at'].strftime('%H:%M %Y-%m-%d') }}
            </div>
            <div class="centrar varios">
              <a
              class="action boton"
              href="{{ url_for('patrones.update', id=recordatorio['id']) }}"
              >Editar</a
          >
            <a
              class="action boton"
              href="{{ url_for('patrones.complete', id=recordatorio['id']) }}"
              >Completar</a
            >

            </div>
        
          </div>
        </li>
        {% if not loop.last %}
        <hr />
        {% endif %} {% endfor %}
      </div>
    </ul>
  </div>
  <div class="boxline">
    <ul>
      <div>
        {% for recordatorio in recordatorios %}
        <li class="pedido">
          <div class="Columna inicio centrarcontenido">
            <!-- Caja de Citas Medicas -->
            <h2>
              CitasMedicas
              {% if recordatorio['completed'] == 1%}
              <strike>{{ recordatorio['description'] }}</strike>
              {%else%}{{ recordatorio['description'] }} {%endif%}
            </h2>

            <div class="about centrar">
              {{ recordatorio['created_at'].strftime('%H:%M %Y-%m-%d') }}
            </div>
            <div class="centrar varios">
              <a
              class="action boton"
              href="{{ url_for('patrones.update', id=recordatorio['id']) }}"
              >Editar</a
          >
            <a
              class="action boton"
              href="{{ url_for('patrones.complete', id=recordatorio['id']) }}"
              >Completar</a
            >

            </div>
        
          </div>
        </li>
        {% if not loop.last %}
        <hr />
        {% endif %} {% endfor %}
      </div>
    </ul>
  </div>
</div>
    <!-- Boton -->
    <div class="centrarboton">
      <a
        class="action boton"
        href="{{ url_for('patrones.interfaces', pagina='interfaces') }}"
        >Actividades</a
      >
    </div>


{% endblock %}
