{% extends 'base.html' %} {% block header %}
<h1 class="centrar">
  {% block title %} Editar: {{ Citas['description'] }}{% endblock %}
</h1>
{% endblock %} {% block content %}

<!--Campo donde se ingresa la cita nueva-->
<div class="formulario Columna inicio centrarcontenido">
  <form class="Columna inicio centrarcontenido" method="POST">
    <input
      type="text"
      name="description"
      id="description"
      placeholder="Recordatorio..."
    />

    <!--Boton para guardar la cita-->
    <input class="boton centrar" type="submit" value="Guardar" />
  </form>

  <!--Edicion de la cita-->
  <div class="box">
      <!--"id=recordatorio" tiene que cambiar por la variable de cita-->
    <form class="actualizacion"
    action="{{ url_for('patrones.delete',id=recordatorio['id']) }}"
    method="POST"
  >
  <!--Elimnar cita-->
    <input
      class="boton"
      type="submit"
      value="Eliminar"
      onclick="return confirm('¿estas seguro de querer eliminarlo?')"
    />
    <a class="action boton" href="{{ url_for('patrones.index') }}">Volver</a>
  </form>
  
    
  </div>
  
</div>
{% endblock %}
