{% extends 'base.html' %} {% block header %}
<h1 class="centrar">{% block title %}Iniciar Sesión{% endblock %}</h1>
{% endblock %} {% block content %}
<div class="formulario Columna inicio centrarcontenido">
  <form method="POST" class="ingresar Columna inicio centrarcontenido">
    <label for="username">Username</label>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Username..."
      required
    />
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password..."
      required
    />
    <div class="centrar">
      <input class="boton" type="submit" value="Iniciar Sesión" />
    </div>
    
  </form>
</div>
{% endblock %}
